<include file="Common/main-header" />
	<div class="info-manage info-url ad-manage" style="margin-left: -150px;height:700px;">
        <h3>广告位管理</h3>
        <div class="table">
            <ul class="thead">
                <li class="li-xs">ID号</li>
                <li class="li-sm">广告标题</li>
                <li>类型</li>
                <li>创建时间</li>
                <li>操作</li>
            </ul>
            <foreach name="data" item="vo">
            <ul>
                <li class="li-xs ad-id">{$vo.ad_id}</li>
                <li class="li-sm">{$vo.ad_name}</li>
                <li>{$vo.media_type}</li>
                <li>{$vo.ad_time}</li>
                <li>
                    <a href="javascript:;" class="ad-edit" data-url="{:U('Ad/editAd',array('ad_id'=>$vo[ad_id]))}" >修改</a>
                    <a href="javascript:;" class="ad-delete">删除</a>
                </li>
            </ul>
			</foreach>
        </div>
    </div>
</body>
</html>
<script>
//回调函数
function call_back(msg){
	if(msg>0){
		layer.msg('操作成功', {icon: 1,offset:'300px'});
		layer.closeAll('iframe');
        setTimeout(function(){
            window.location.reload();
        },1500);
	}else{
		layer.msg('操作失败', {icon: 3,offset:'300px'});
		layer.closeAll('iframe');
	}
}
</script>