<include file="Common/main-header" />
    <div class="info-manage info-url log" style="margin-left:-150px;">
        <h3>操作日志</h3>
        <div class="choose">
            <p class="p-choose">筛选</p>
            <dl>
                <form action="{:U('System/adminLog')}" method="GET" >
                <dd>
                    <select name="log_info">
                        <option value="0">操作类型</option>
                        <option >设为管理员</option>
                        <option >取消管理员</option>
                        <option >新增推广渠道</option>
                        <option>删除推广渠道</option>
                        <option>新增活动分类</option>
                        <option>删除活动分类</option>
                    </select>
                </dd>
                <dd><input type="submit" value="搜索" /> </dd>
                </form>
            </dl>
        </div>
        <div class="table">
            <ul class="thead">
                <li class="li-xs">编号</li>
                <li class="li-sm">操作类型</li>
                <li>操作人</li>
                <li>IP</li>
                <li>操作时间</li>
            </ul>
        <foreach name="log" item="vo">
            <ul>
                <li class="li-xs">{$vo.id}</li>
                <li class="li-sm">{$vo.log_info}</li>
                <li>{$vo.admin_name}</li>
                <li>{$vo.log_ip}</li>
                <li>{$vo.log_time}</li>
            </ul>
        </foreach>
        </div>
    </div>
</body>
</html>