<include file="Common/main-header" />
   <div class="new-info modify-info" style="margin-left:-150px;">
        <h3>最新公告</h3>
        <a href="{:U('Notice/index')}">最新公告</a>>><a href="#">新增公告</a>
        <form action=" " method="" onsubmit="return false;" >
            <input type="text" name="title" placeholder="请输入活动标题" />
            <div class="news">
                <textarea name="content"></textarea>
            </div>
            <dl>
                <dt><input type="submit" value="发布公告" class="acement-submit"/></dt>
                <dd><button class="cancel acement-cancel">取消</button></dd>
            </dl>
	    </form>
    </div>
</body>
</html>
